<div class="container">
  <div class="app-wrap">
  	<div class="header">
  		<div class="item">
  			<%= link_to "Home", root_path(anchor: "home"), class: "blah" %>
   		</div>
   		<div class="item">
   			<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
   		</div>
  	</div>
  	<div class="content">

    </div>
    <div class="footer">
   		<div class="item">
   			<%= link_to "Wines", wines_path %>
   		</div>
   		<div class="item">
   			<%= link_to "Events", events_path %>
   		</div>
   		<div class="item">
   			<%= link_to "Leaderboard", wines_path %>
   		</div>
    </div>
  </div>
</div>

