<%= simple_form_for @event, :html => {:class => 'wine-form-object'} do |f| %>
  <% if @event.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@event.errors.count, "error") %> prevented this event from saving</h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>  
        <% end %>
      </ul>
    </div>
  <% end %> 
  <%= f.text_field :date, placeholder:'date' %> 
  <%= f.text_field :time, placeholder:'time' %> 
  <%= f.text_field :location, placeholder:'location' %> 
  <%= f.text_field :theme, placeholder:'theme' %> 
  <%= f.hidden_field :host_user_id, input_html: {value: current_user.id} %> 
<% end %> 	
