<div class="container">
  <div class="app-wrap">
  	<div class="header">
  		<div class="item">
  			<%= link_to "Home", root_path(anchor: "home"), class: "scroll-item" %>
   		</div>
   		<div class="item">
   			<%= link_to "My Account", destroy_user_session_path, method: :delete %>
   		</div>
  	</div>
  	<div class="content">
      <div class="item">
      	<div class="form">
      		<h1>edit wine</h1>
			<%= render 'form' %>
		</div>
		</div>
    </div>
    <div class="footer">
   		<div class="item">
   			<%= link_to "Save", wines_path, class:"save-button" %>
   		</div>
   		<div class="item">
   			<%= link_to 'Cancel', :back %>
   		</div>
    </div>
  </div>
</div>

<script>
  const form = document.querySelector(".wine-form")
  const submitButton = document.querySelector(".save-button")
  submitButton.addEventListener('click', function(){form.submit()})
</script>